.battle-box {
  width: 80%;
  height: auto;
  background-color: #d3d3d3;
  margin-bottom: 20px;
}

.drp-dwn-width {
  width: 254px;
  font-size: 1em;
}

.text-field {
  width: 254px;
}
.border {
  border: 1px dashed #000;
  border-radius: 5px;
  padding: 20px;
}

.result-box {
  width: 80%;
  border: 1px dashed #000;
  border-radius: 5px;
  padding: 20px;
}
